@use '../../Styles' as v
  
.artist-container
  margin: 0
  padding: 0
  z-index: -20
  overflow-y: scroll
  height: 90vh

.artist-jumbotron
  // height: auto
  position: relative

  &__images
    overflow: hidden
    display: flex
    justify-content: space-between
    height: 45vh

    img
      height: 100%
      width: 33.333333%
      user-select: none
      margin: -5px
      object-fit: cover


    &-side
      filter: brightness(65%) blur(9px)

  &__information
    width: 20%
    position: absolute
    bottom: 16%
    left: 11%
    color: white

    &-name
      font-weight: 700
      margin-bottom: 0.3em
      font-size: 3.7rem

    p
      margin: 0
      text-transform: capitalize
      font-size: 1.8rem
