@use '../../Styles/base/variables' as v
  
.search-container
  position: absolute
  margin-left: 3%
  padding-bottom: 1em
  top: 1.2em

  .search__form
    width: 0%

  .form

    &__input
      border: 1px solid v.$border-dark-3
      background: v.$bg-dark-4
      color: v.$white-4
      width: 22em
      border-radius: 7px
      margin-right: 1em
      padding: 0.5em 0.5em
