@use '../../Styles/base/variables' as v
  
.navbar
  height: 7rem
  background: v.$bg-dark-3
  display: flex

  &--title
    margin-right: auto

    h1
      color: #f4f4f4
      margin: 0
      padding: 1.2rem

.user_display
  display: flex
  height: 100%
  margin-left: auto
  padding: 1.2rem

  &__avatar
    height: 55%
    border-radius: 100%
    margin-right: 2rem

  &__display_name
    color: #f4f4f4
    text-transform: capitalize
    margin-right: 2rem
    font-size: 1.5rem

.navbar__item
  list-style-type: none
  margin: 1.4rem 2rem
