@use '../../Styles/base/variables' as v
  
.landing
  overflow: hidden

.landing__body
  display: flex

.main-section
  margin-top: 1em
  flex: 0.9

.row-section
  margin: 4%

  &__label
    color: v.$white-4
    font-weight: bold
    font-size: 2rem
    display: block

  &__items-inline
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin: 1em 0