@use '../../Styles/base/variables' as v
  
.landing
  overflow: hidden

.row-section
  margin: 2rem

  &__label
    color: v.$white-3
    font-weight: bold
    font-size: 2rem
    display: block

  &__items-inline
    display: grid
    grid-auto-flow: column
    margin: 1em 0