// Colors
// Higher number = brighter
$bg-dark-2: #111116
$bg-dark-3: #202329

$white-2: #B0B0B0
$whie-3: #D2D2D2

$blue-4: #319BBB


// Size
$s-size: 1.2rem
$m-size: 1.6rem
$l-size: 3.2rem
$xl-size: 4.8rem

$desktop-breakpoint: 45rem